/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

@font-face {
  font-family: 'Campan';
  font-style: normal;
  font-weight: 500;
  src: local('Campan'), url(css/fonts/Campanlta.otf) format('otf');
}

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Gill Sans", arial, verdana, sans-serif;
font-weight:normal;
}

.menu{
font-family: "Gill Sans", arial, verdana, sans-serif;
background:none;
border-style:none;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
/*BACKGROUND IMAGES*/
#home_page {

  background: url(img/home_page/jungly.jpg) no-repeat center center fixed; 
  background-size: 100%;
}

#contact_page {

  background: url(img/contact/jungly_blurry.jpg) no-repeat center center fixed; 
  background-size: 100%;
}
/*BACKGROUND FOR SHORT STORY*/
#tabr2 .center {

background: url(img/creative_writing/water.jpg) no-repeat center center fixed; 
  background-size: 100%;
}

header {
	margin-bottom: 30px;
}

/*FORMAT FOR HEADLINE SECTIONS OF HOME PAGE*/
h1 {
	color: #c3ae7e;
	font-variant: small-caps;
	font-size: 5em;
	line-height: 56%;
	text-align: center;
	letter-spacing: 4px;
}

#home_page h2 {
	font-size: 3.9em;
}

#home_page h1:last-of-type {
	padding-bottom: 12px;
	text-decoration: underline;
	-moz-text-decoration-color: white;
	text-decoration-color: white;
}

#home_page h4 {
	font-size: 1.9em;
	color: #c3ae7e;
	font-family: "Campan", sans-serif;
	text-align: center;
	line-height: 90%;
	margin-bottom: 70px;
}

/* HOME PAGE LINKS TO OTHER PAGES*/

#home_page h2 {
	margin-left: 200px;
}

#home_page a:link{
	text-decoration: none;
	color: white;
}

#home_page a:visited{
	text-decoration: none;
	color: white;
}

#home_page a:hover{
	font-size: 1.1em;
	color: #7b8661;
}

/*TOP NAV BAR STYLE*/
.menu a:link{
	font-size: 1.1em;
	text-decoration: none;
	color: white;
}

.menu a:visited{
	font-size: 1.1em;
	text-decoration: none;
	color: white;
}

.menu a:hover{
	font-size: 1.1em;
	color: #7b8661;
}

/*CONTACT PAGE STYLING*/

#contact_page h2 {
	font-size: 3em;
	line-height: .9em;
}

#contact_page h1:last-of-type {
	margin-bottom: 175px;
}

#email:link {
	text-decoration: none;
	color: white;
}

#email:visited{
	text-decoration: none;
	color: white;
}
#email:hover {
	font-size: 1.2em;
	color: #7b8661;
}

/*STYLING FOR CONTENT PAGES*/
.not_home_page {
	background-color: #c3ae7e;
}

.not_home_page h2 {
	text-decoration: underline;
}

.not_home_page h5 {
	margin-top: 40px;
	text-transform: uppercase;
}

/*STYLE FOR SHORT STORY*/
.not_home_page p {
	text-align: left;
	font-size: 1.5em;
	margin: 300px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-family:  "times", serif;
	font-weight:normal;
}

#story_plan {
	font-style: italic;
	padding-bottom: 30px;
}

/*TAB STYLE */
.tabs.left li a {
	font-family: "Campan", arial, verdana, sans-serif;
	font-size: 1.3em;
	color: #7b8661; 
	padding: 20px;}

/*GALLERY STYLING*/
.gallery img {  
	float: left;
    height: 300px;
    margin: 5px;
}

/*ZINE IN GRAPHIC DESIGN SPECIAL STYLING*/
#zine img {
	float: left;
	margin: 5px;
	height: 150px;}

#zine a {
	float: left;
	margin: 5px;
	height: 20px;
}

